@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-image: url('./bg/bg3.jpg');
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  max-width: 600px;
  width: 90%;
  height: 75vh;
  padding: 20px;
  box-shadow: 0 0 20px #00000020;
  border-radius: 8px;
  background-color: white;
  position: relative;
}

.form .column{
  display: flex;
  column-gap: 15px;
}

.form .column input{
  width: 100%;
  border: 1.5px solid rgba(128, 128, 128, 0.418);
  padding: 5px;
  font-size: 15px;
  margin-top: 5px;
  border-radius: 4px;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}

.step{
  display: none;
}
.step-active{
  display: block;
}
.step .input-box{
  width: 100%;
  margin-top: 5px;
}
.form-group{
  width: 100%;
  margin-top: 20px;
}
.form-group input{
  width: 100%;
  border: 1.5px solid rgba(128, 128, 128, 0.418);
  padding: 5px;
  font-size: 15px;
  margin-top: 5px;
  border-radius: 4px;
}

input.next-btn, input.previous-btn, input.submit-btn{
  float: right;
  margin-top: 20px;
  padding:10px 30px;
  border: none;
  outline: none;
  background-color: #939597;
  font-family: sans-serif;
  font-size: 18px;
  cursor: pointer;
}

input.previous-btn{
  float: left;
}

.btn{
  float: right;
  margin-top: 20px;
  padding:10px 30px;
  border: none;
  outline: none;
  background-color: #939597;
  font-family: sans-serif;
  font-size: 18px;
  cursor: pointer;
}


input.btn{
  background-color: #F5DF4D;
}

label.error{
  display: block;
  color: #FF3B30;
  font-size: 14px;
  
}

